<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.damian.monitorapp">
    <!-- <uses-permission android:usesCleartextTraffic="true"/> -->
    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- Permission require to retrieve View, over other apps. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- Since android Pie (API level 28), need to add the FOREGROUND_SERVICE permission. -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_profile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GraphTabActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".GraphActivity" />
        <activity
            android:name=".AWSChangable.activity.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SourcePhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterConfirmation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".AbouteMe"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AuthenticatorActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <service android:name=".CameraService">
            <intent-filter>
                <action android:name="com.example.damian.monitorApp.START" />
                <action android:name="com.example.damian.monitorApp.START_WITH_PREVIEW" />
                <action android:name="com.example.damian.monitorApp.STOP" />
            </intent-filter>
        </service>

        <receiver
            android:name=".fragments.CameraPreviewFragment$PreviewBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.example.damian.monitorApp.REOPEN_PREVIEW" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".CameraService$LaunchBroadcastReceiver"
            android:enabled="true"></receiver>
        <receiver
            android:name=".CameraService$NetworkChangeReceiver"
            android:enabled="true"></receiver>
    </application>

</manifest>